@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    padding: 0px;
    margin: 0px;
    background-image: linear-gradient(to right, #60efff, #edf3f5 , #60efff);
}

#container{
    width: 85%;
    margin: auto;
    margin-top: 20px;
    display: flex;
}

#left{
    border: 1px solid rgb(134, 134, 134);
    padding-left: 20px;
    padding-right: 20px;
    width: 35%;
    text-align: center;
    font-family: 'dubai medium';
    border-radius: 5px;
    padding-top: 18px;
}

#left h2{
    color: black;
    text-shadow: 1px 1px 2px rgb(206, 206, 206);
}

#left input,
#left select{
    padding: 10px;
    width: 300px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rgb(161, 161, 161);
}

#left #searching{
    padding: 10px;
    width: 220px;
    margin-bottom: 10px;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid black;
    margin-top: 0px;
}
#left #search_select{
    margin-bottom: 0px;
    width: 80px;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid black;
    padding: 9px;
    background-color: rgb(0, 174, 255);
    cursor: pointer;
}
#search{
    padding: 10px;
    width: 80px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
    background-image: linear-gradient(to right, #0061ff , #60efff);
    border: 1px solid black;
    font-weight: bold;
    color: white;
}

#search:hover{
    color: black;
    background-image: linear-gradient(to right, #60efff , #0061ff);
}

#left button{
    padding: 10px;
    width: 300px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-image: linear-gradient(to right, #0061ff , #60efff);
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-weight: bold;
}

#left button:hover{
    color: white;
    background-image: linear-gradient(to right, #60efff , #0061ff);
}

#right{
    padding-left: 20px;
    padding-right: 20px;
    width: 65%;
    text-align: center;
    font-family: 'dubai medium';
    padding-top: 0px;
    padding-bottom: 30px;
}

#right button:hover{
    color: black;
}

#box{
    width: 90%;
    border: 1px solid black;
    display: flex;
    font-family: 'Poppins', sans-serif;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#card-img{
    width: 40%;
    border-radius: 10px 0px 0px 10px;
}

#card-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
}

#card-body{
    width: 60%;
    text-align: left;
    padding-left: 30px;
    background-color: rgb(196, 251, 255);
    border-radius: 0px 10px 10px 0px;
    padding-bottom: 5px;
}

#edit{
    background-color: green;
    color: white;
    border: 1px solid black;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#edit:hover{
    background-image: linear-gradient(to right, #2c9b51 , #0fe41a);
    border: 0px;
}

#delete{
    background-color: red;
    color: white;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#delete:hover{
    border: 0px;
    background-image: linear-gradient(to right, #f85c41 , #ff0101);
}

@media all and (max-width:1150px){
    #left #searching{
        width: 150px;
    }
}

@media all and (max-width:1105px){
    #left input,
    #left select{
        width: 200px;
    }
    #left button{
        width: 200px;
    }
    #left #searching{
        width: 130px;
    }
    #left #search_select{
        width: 70px;
    }
}

@media all and (max-width:770px){
    #container{
        flex-direction: column;
    }
    #left{
        width: 100%;
    }
    #right{
        width: 100%;
    }
    #left input,
    #left select{
        width: 500px;
    }
    #left button{
        width: 500px;
    }
    #left #searching{
        width: 380px;
    }
    #left #search_select{
        width: 80px;
    }
}

@media all and (max-width:625px){
    #left input,
    #left select{
        width: 300px;
    }
    #left button{
        width: 300px;
    }
    #left #searching{
        width: 180px;
    }
    #left #search_select{
        width: 80px;
    }
}

@media all and (max-width:500px){
    
    #box{
        flex-direction: column;
        
    }
    #card-img{
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }
    #card-img img{
        border-radius: 10px 10px 0px 0px;
    }
    #card-body{
        width: 100%;
        border-radius: 0px 0px 10px 10px;
    }
}

@media all and (max-width:395px){
    #container{
        width: 90%;
    }
    #left input,
    #left select{
        width: 200px;
    }
    #left #searching{
        width: 120px;
    }
    #left #search_select{
        width: 70px;
    }
    #left button{
        width: 200px;
    }
    #box{
        width: 100%;
    }
    h1{
        font-size: 20px;
    }
    #card-body{
        padding-left: 15px;
    }
}


footer {
    background: #00b6e4;
    /* background-image: linear-gradient(to right, #0061ff, #60efff); */
    width: 100%;
    left: 0;
}

/* footer::before {
    content: '';
    position: relative;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #AFAFB6;
} */

footer .content {
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
}

footer .content .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.content .top .logo-details {
    color: #fff;
    font-size: 30px;
}

.content .top .media-icons {
    display: flex;
}

.content .top .media-icons a {
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
}

.top .media-icons a:nth-child(1) {
    background: #4267B2;
}

.top .media-icons a:nth-child(1):hover {
    color: #4267B2;
    background: #fff;
}

.top .media-icons a:nth-child(2) {
    background: #1DA1F2;
}

.top .media-icons a:nth-child(2):hover {
    color: #1DA1F2;
    background: #fff;
}

.top .media-icons a:nth-child(3) {
    background: #E1306C;
}

.top .media-icons a:nth-child(3):hover {
    color: #E1306C;
    background: #fff;
}

.top .media-icons a:nth-child(4) {
    background: #0077B5;
}

.top .media-icons a:nth-child(4):hover {
    color: #0077B5;
    background: #fff;
}

.top .media-icons a:nth-child(5) {
    background: #FF0000;
}

.top .media-icons a:nth-child(5):hover {
    color: #FF0000;
    background: #fff;
}

footer .content .link-boxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer .content .link-boxes .box {
    width: calc(100% / 5 - 10px);
}

.content .link-boxes .box .link_name {
    color: #fff;
    font-size: 18px;
    /* font-weight: 400; */
    margin-bottom: 10px;
    position: relative;
    font-weight: bold;
}

.link-boxes .box .link_name::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
}

.content .link-boxes .box li {
    margin: 6px 0;
    list-style: none;
}

.content .link-boxes .box li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
}

.content .link-boxes .box li a:hover {
    opacity: 1;
    text-decoration: underline;
}

.content .link-boxes .input-box {
    margin-right: 55px;
}

.link-boxes .input-box input {
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #AFAFB6;
    background: #140B5C;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
}

.link-boxes .input-box input::placeholder {
    color: #AFAFB6;
    font-size: 16px;
}

.link-boxes .input-box input[type="button"] {
    background: #fff;
    color: #140B5C;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
}

.input-box input[type="button"]:hover {
    opacity: 1;
}

footer .bottom-details {
    width: 100%;
    background: #0F0844;
}

footer .bottom-details .bottom_text {
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
}

.bottom-details .bottom_text a:hover {
    opacity: 1;
    text-decoration: underline;
}

.bottom-details .bottom_text a {
    margin-right: 10px;
}

@media (max-width: 900px) {
    footer .content .link-boxes {
        flex-wrap: wrap;
    }
    footer .content .link-boxes .input-box {
        width: 40%;
        margin-top: 10px;
    }
}

@media (max-width: 700px) {
    footer {
        position: relative;
    }
    .content .top .logo-details {
        font-size: 26px;
    }
    .content .top .media-icons a {
        height: 35px;
        width: 35px;
        font-size: 14px;
        line-height: 35px;
    }
    footer .content .link-boxes .box {
        width: calc(100% / 3 - 10px);
    }
    footer .content .link-boxes .input-box {
        width: 60%;
    }
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a {
        font-size: 12px;
    }
}

@media (max-width: 520px) {
    footer::before {
        top: 145px;
    }
    footer .content .top {
        flex-direction: column;
    }
    .content .top .media-icons {
        margin-top: 16px;
    }
    footer .content .link-boxes .box {
        width: calc(100% / 2 - 10px);
    }
    footer .content .link-boxes .input-box {
        width: 100%;
    }
}