*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
html{
    scroll-behavior:smooth;
}
nav {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  background-image: linear-gradient(to right, #d2eefe, #FFFEFF);
  align-items: center;
}

nav #right_nav {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-right: 50px;
}

nav #left_nav {
  margin-left: 50px;
}

nav #right_nav a {
  text-decoration: none;
}

nav #right_nav p {
  color: black;
  transition: transform .2s;
}

nav #right_nav p:hover {
  color: blue;
  -ms-transform: scale(1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2);
  /* Safari 3-8 */
  transform: scale(1.2);
}
body{
    padding: 0px;
    margin: 0px;
    background-image: linear-gradient(to right ,#d4e2fa,#e1fbfd);
}
#sliding{
    width: 100%;
    height: 400px;
    /* border: 1px solid red; */
    margin: auto;
    margin-bottom: 40px;
}
#sliding>img{
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#heading{
    /* border: 1px solid red; */
    height: 50px;
    font-size: 35px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(41, 41, 41);
    background-image: linear-gradient(to right ,#0061ff,#60efff);
}
/* #videoDiv{
    border-radius: 4px; 
    overflow:hidden; 
    width: 215px; 
    height: 121px;
}
#video{
    width: 100%; 
    height: 100%;
    outline: none;
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
} */

.description{
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(79, 79, 79);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#container{
    width: 80%;
    display: flex;
    margin: auto;
}
#container img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#container #Loading1{
  width: 20%;
  margin: auto;
}
.card-img{
    width: 40%;
    /* border: 2px solid rgb(72, 151, 231); */
    border-radius: 10px;
    box-shadow: rgba(99, 142, 244, 0.19) 0px 10px 20px, rgba(64, 67, 234, 0.23) 0px 6px 6px;
}
.card-list {
    display: block;
    flex-wrap: wrap;
    flex-basis: 100%;
    gap: 4%;
    margin-top: 20px;
  }
  .card{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid rgb(72, 151, 231); */
    /* border-radius: 10px; */
    gap: 5px;
    margin-bottom: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* text-align: center; */
  }
  .card-body{
    width: 30%;
    text-align: center;
    line-height: 50px;
    /* border: 1px solid purple; */
    border: 2px solid rgb(72, 151, 231);
    border-radius: 10px;
    background-image: linear-gradient(to right ,#b9d1f6,#cbf7fc);
    box-shadow: rgba(99, 142, 244, 0.19) 0px 10px 20px, rgba(64, 67, 234, 0.23) 0px 6px 6px;
  }
  .center-div{
    width: 60%;
    /* line-height: 40px; */
    border: 2px solid rgb(72, 151, 231);
    border-radius: 10px;
    padding: 10px;
    background-image: linear-gradient(to right ,#b9d1f6,#cbf7fc);
    box-shadow: rgba(99, 142, 244, 0.19) 0px 10px 20px, rgba(64, 67, 234, 0.23) 0px 6px 6px;
  }
  .card-detail{
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 20px;
  }
  li{
    list-style-type: square;
    margin-left: 20px;
    line-height: 30px;
    font-size: 18px;
    color: rgb(103, 102, 102);
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  h2{
    color: rgb(77, 186, 230);
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .card-button{
    width: 50%;
    height: 30px;
    background-image: linear-gradient(to right ,#2977f6,#73eaf7);
    color: white;
    /* font-size: 20px; */
    font-weight: bolder;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid white;
  }
  .card-button:hover{
    cursor: pointer;
    background-image:linear-gradient(to right ,#73eaf7,#2977f6);
   border: 1px solid black;
   color: black;
  }
  p{
    font-size: 18px;
  }
  #extraBox{
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
    gap: 5px;
  }
  @media all and (min-width : 551px) and (max-width : 900px){
    .card-body{
      width: 100%;
    }
    .card{
      flex-direction: column;
    }
    li{
      font-size: 15px;
    }
    #sorting{
        flex-direction: column;
     }
     nav #right_nav a:nth-child(2),
     nav #right_nav a:nth-child(3),
     nav #right_nav a:nth-child(5)
     {
        display: none;
     }
  }
  @media all and (max-width : 550px){
    .extraBox{
      flex-direction: column;
    }
    .card{
      flex-direction: column;
    }
    .card-body{
        width: 100%;
      }
      #body2{
        flex-direction: column;
        align-items: center;
    }
    li{
        font-size: 15px;
    }
    #sorting{
        flex-direction: column;
        /* border: 1px solid red; */
        margin: auto;
     }
     nav #right_nav a:nth-child(1),
     nav #right_nav a:nth-child(2),
     nav #right_nav a:nth-child(3),
     nav #right_nav a:nth-child(5)
     {
        display: none;
     }
  }

  #sorting{
    padding: 20px;
    width: 50%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
  }
  #body2{
    /* border: 1px solid red; */
    padding: 20px;
    display: flex;
    gap: 10%;
    padding: 20px;
  }
  .sort-filter{
    color: rgb(58, 188, 240);
    font-size: 23px;
    margin-top: 18px;
    line-height: 35px;
  }
  .sortBtn{
    display: block;
    margin-top: 10px;
    width: 200px;
    padding: 10px;
    color: white;
    font-weight: bold;
    border:1px solid white;
    border-radius: 8px;
    background-image: linear-gradient(to right ,#2977f6,#73eaf7);
  }
  .sortBtn:hover{
    cursor: pointer;
    background-image:linear-gradient(to right ,#73eaf7,#2977f6);
    border: 1px solid black;
    color: black;
  }
 

  
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    background: #EEECEB;
}

footer {
    /* position: fixed; */
    /* background: #140B5C; */
    background-image: linear-gradient(to right, #0061ff, #60efff);
    width: 100%;
    /* bottom: 0; */
    left: 0;
}

/* footer::before {
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #AFAFB6;
} */

footer .content {
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
}

footer .content .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.content .top .logo-details {
    color: #fff;
    font-size: 30px;
}

.content .top .media-icons {
    display: flex;
}

.content .top .media-icons a {
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
}

.top .media-icons a:nth-child(1) {
    background: #4267B2;
}

.top .media-icons a:nth-child(1):hover {
    color: #4267B2;
    background: #fff;
}

.top .media-icons a:nth-child(2) {
    background: #1DA1F2;
}

.top .media-icons a:nth-child(2):hover {
    color: #1DA1F2;
    background: #fff;
}

.top .media-icons a:nth-child(3) {
    background: #E1306C;
}

.top .media-icons a:nth-child(3):hover {
    color: #E1306C;
    background: #fff;
}

.top .media-icons a:nth-child(4) {
    background: #0077B5;
}

.top .media-icons a:nth-child(4):hover {
    color: #0077B5;
    background: #fff;
}

.top .media-icons a:nth-child(5) {
    background: #FF0000;
}

.top .media-icons a:nth-child(5):hover {
    color: #FF0000;
    background: #fff;
}

footer .content .link-boxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer .content .link-boxes .box {
    width: calc(100% / 5 - 10px);
}

.content .link-boxes .box .link_name {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
}

.link-boxes .box .link_name::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
}

.content .link-boxes .box li {
    margin: 6px 0;
    list-style: none;
}

.content .link-boxes .box li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
}

.content .link-boxes .box li a:hover {
    opacity: 1;
    text-decoration: underline;
}

.content .link-boxes .input-box {
    margin-right: 55px;
}

.link-boxes .input-box input {
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #AFAFB6;
    background: #140B5C;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
}

.link-boxes .input-box input::placeholder {
    color: #AFAFB6;
    font-size: 16px;
}

.link-boxes .input-box input[type="button"] {
    background: #fff;
    color: #140B5C;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
}

.input-box input[type="button"]:hover {
    opacity: 1;
}

footer .bottom-details {
    width: 100%;
    background: #0F0844;
}

footer .bottom-details .bottom_text {
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
}

.bottom-details .bottom_text a:hover {
    opacity: 1;
    text-decoration: underline;
}

.bottom-details .bottom_text a {
    margin-right: 10px;
}

@media (max-width: 900px) {
    footer .content .link-boxes {
        flex-wrap: wrap;
    }
    footer .content .link-boxes .input-box {
        width: 40%;
        margin-top: 10px;
    }
}

@media (max-width: 700px) {
    footer {
        position: relative;
    }
    .content .top .logo-details {
        font-size: 26px;
    }
    .content .top .media-icons a {
        height: 35px;
        width: 35px;
        font-size: 14px;
        line-height: 35px;
    }
    footer .content .link-boxes .box {
        width: calc(100% / 3 - 10px);
    }
    footer .content .link-boxes .input-box {
        width: 60%;
    }
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a {
        font-size: 12px;
    }
}

@media (max-width: 520px) {
    footer::before {
        top: 145px;
    }
    footer .content .top {
        flex-direction: column;
    }
    .content .top .media-icons {
        margin-top: 16px;
    }
    footer .content .link-boxes .box {
        width: calc(100% / 2 - 10px);
    }
    footer .content .link-boxes .input-box {
        width:100%;
}
}