

    body {

        margin: 0px;

        /* padding-top: 10px; */
        box-sizing: border-box;

        

    }

 

    #nav {

        width: 100%;

        height: 60px;

        background-color: rgb(18, 141, 242);

        color: white;

        /* margin-top: 50px; */

        padding-top: 15px;

        border: 1px solid black;

    }

 

    #nav h2 {

        text-align: center;

    }

 

    .navigation {

        width: 100%;

        height: 70px;

 

        display: flex;

        justify-content: space-between;

        align-items: center;

        border: 1px solid red;

        /* background-color: blue; */

 

    }

 

 

 

    .options {

        margin-right: 90px;

    }

 

    .navigation>.options {

        width: 700px;

        /* padding-right: 20px; */

        display: flex;

        justify-content: space-between;

        font-size: 18px;

 

 

    }

 

    .navigation a {

        text-decoration: none;

        color: black;

 

    }

 

    #first {

        display: flex;

        justify-content: center;

        align-items: center;

        padding-top: 50px;

        border: 1px solid blue;

    }

 

    button {

        width: 100px;

        height: 25px;

        background-color: rgb(28, 201, 245);

        color: white;

        border-radius: 20px;

        border: rgb(60, 206, 242);

    }



 

    #texts {

        padding-left: 70px;

    }

 

    #texts p {

        font-size: 20px;

 

    }

     /* img{

        width: 0%;

        padding-left: 20px;

        

    } */

    .logo{
        padding-bottom: 17px;
    }


    #first>div img{
        border-radius: 50%;
        width: 100%;


        padding-left: 20px;
    }

    #logoimg{
        width: 40%;
    }

    #box {

width: 40%;

border-radius: 13px;

height: 50px;

justify-content: center;

align-items: center;

gap: 40px;

margin: auto;

display: flex;

box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}



#box button {

height: 50px;

width: 150px;

border-radius: 13px;

background-color: rgb(28, 201, 245);

border: rgb(28, 201, 245);

;

color: white;

font-size: 20px;

}



#third {

padding-top: 80px;

}



#text2 {

text-align: center;

}



#text2 p {

font-weight: bold;

font-size: 20px;

}

#cards{

padding-top: 30px;

display:flex ;

grid-template-columns: repeat(3,1fr);

gap: 20px;

justify-content: center;

align-items: center;

}

#cardin{

box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

width: 30%;

}

#cardin h1{

color: rgb(32, 170, 195);

text-align: center;

}

#cardin p{



text-align: center;

}

#text3{

padding-top: 50px;

text-align: center;

font-weight: bold;

}

#map{

display: flex;

justify-content: center;

align-items: center;

padding-top: 50px;

padding: 10px;

width: 100%;

height: 400px;

border: 1px solid red;

}

#text4 {

padding-top: 50px;

text-align: center;

font-weight: bold;

}



/*

#in {

display: flex;



} */



#in button {

width: 100px;

height: 25px;

}



#cardimg img {

width: 100%;

}



#c {

display: grid;

grid-template-columns: repeat(3, 1fr);

gap: 10px;

padding-left: 100px;

/* justify-content: center;

align-items: center; */

}



#cardimg {

box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

width: 80%;

}



#cardimg h2 {

text-align: center;

}



#cardimg h3 {

text-align: center;

}



#in button {

background-color: rgb(20, 208, 241);

border: rgb(20, 208, 241);

border-radius: 20px;

margin-left: 140px;

}



#sixth img {

width: 100%;

height: 500px;



}



#sixth {

margin-top: 60px;

}



#text5 {

text-align: center;

font-weight: bold;

font-size: 25px;

}



#input {

display: flex;

justify-content: center;

align-items: center;

gap: 70px;

margin-top: 60px;

}



#mail {

width: 300px;

/* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */

border: 1px solid white;

}



#number {

width: 300px;

/* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */

border: 1px solid white;

}



#mess {

padding-top: 50px;

display: flex;

justify-content: center;

align-items: center;

padding-bottom: 50px;

}



#message {

width: 680px;

/* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */

border: 1px solid white;

}



#eight button {



background-color: rgb(20, 208, 241);

/* border: rgb(20, 208, 241); */

border-radius: 20px;

width: 100px;

padding-left: 30px;

/* padding-top: 5px; */

margin: auto;

display: flex;

color: white;

height: 25px;

font-size: 20px;

}

#eight input{
    border-bottom: 1px solid rgb(153, 128, 128);
}



#nine img {

width: 20%;

}



#nine {

padding-left: 150px;

background-color: rgb(160, 229, 229);

margin-top: 50px;

height: 200px;

}



#nine p {

font-size: 25px;



}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    background: #EEECEB;
}

footer {
    /* position: fixed; */
    /* background: #140B5C; */
    background-image: linear-gradient(to right, #0061ff, #60efff);
    width: 100%;
    /* bottom: 0; */
    left: 0;
    margin-top: 10px;
}

/* footer::before {
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #AFAFB6;
} */

footer .content {
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
}

footer .content .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.content .top .logo-details {
    color: #fff;
    font-size: 30px;
}

.content .top .media-icons {
    display: flex;
}

.content .top .media-icons a {
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
}

.top .media-icons a:nth-child(1) {
    background: #4267B2;
}

.top .media-icons a:nth-child(1):hover {
    color: #4267B2;
    background: #fff;
}

.top .media-icons a:nth-child(2) {
    background: #1DA1F2;
}

.top .media-icons a:nth-child(2):hover {
    color: #1DA1F2;
    background: #fff;
}

.top .media-icons a:nth-child(3) {
    background: #E1306C;
}

.top .media-icons a:nth-child(3):hover {
    color: #E1306C;
    background: #fff;
}

.top .media-icons a:nth-child(4) {
    background: #0077B5;
}

.top .media-icons a:nth-child(4):hover {
    color: #0077B5;
    background: #fff;
}

.top .media-icons a:nth-child(5) {
    background: #FF0000;
}

.top .media-icons a:nth-child(5):hover {
    color: #FF0000;
    background: #fff;
}

footer .content .link-boxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer .content .link-boxes .box {
    width: calc(100% / 5 - 10px);
}

.content .link-boxes .box .link_name {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
}

.link-boxes .box .link_name::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
}

.content .link-boxes .box li {
    margin: 6px 0;
    list-style: none;
}

.content .link-boxes .box li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
}

.content .link-boxes .box li a:hover {
    opacity: 1;
    text-decoration: underline;
}

.content .link-boxes .input-box {
    margin-right: 55px;
}

.link-boxes .input-box input {
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #AFAFB6;
    background: #140B5C;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
}

.link-boxes .input-box input::placeholder {
    color: #AFAFB6;
    font-size: 16px;
}

.link-boxes .input-box input[type="button"] {
    background: #fff;
    color: #140B5C;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
}

.input-box input[type="button"]:hover {
    opacity: 1;
}

footer .bottom-details {
    width: 100%;
    background: #0F0844;
}

footer .bottom-details .bottom_text {
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
}

.bottom-details .bottom_text a:hover {
    opacity: 1;
    text-decoration: underline;
}

.bottom-details .bottom_text a {
    margin-right: 10px;
}

@media (max-width: 900px) {
    footer .content .link-boxes {
        flex-wrap: wrap;
    }
    footer .content .link-boxes .input-box {
        width: 40%;
        margin-top: 10px;
    }
}

@media (max-width: 700px) {
    footer {
        position: relative;
    }
    .content .top .logo-details {
        font-size: 26px;
    }
    .content .top .media-icons a {
        height: 35px;
        width: 35px;
        font-size: 14px;
        line-height: 35px;
    }
    footer .content .link-boxes .box {
        width: calc(100% / 3 - 10px);
    }
    footer .content .link-boxes .input-box {
        width: 60%;
    }
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a {
        font-size: 12px;
    }
}

@media (max-width: 520px) {
    footer::before {
        top: 145px;
    }
    footer .content .top {
        flex-direction: column;
    }
    .content .top .media-icons {
        margin-top: 16px;
    }
    footer .content .link-boxes .box {
        width: calc(100% / 2 - 10px);
    }
    footer .content .link-boxes .input-box {
        width: 100%;
    }
}

